var be4_chat_name, be4_chat_email, be4_chat_phone;

//var URL = 'https://chat-l.mybluemix.net/personality';
var URL = "https://chatvictor.mybluemix.net/chat"
//document.addEventListener('DOMContentLoaded',function(){
  // document.getElementById("phone").onkeypress = validate_int;
  // document.getElementById("phone").onkeyup = phone_number_mask;
  // ***********************************************************************************************
  // *********************************   Abrir e Fechar Aba Chat   *********************************
  // ***********************************************************************************************
  document.querySelector(".btn-be4chat-img").disabled = true;

  var divs = document.querySelectorAll("#myprotocol, .btn-be4chat-img");
  divs[0].addEventListener('click', function(div) {
    document.querySelector(".btn-be4chat-img").disabled = true;
  });


  var divs = document.querySelectorAll(".chat_head, .arrow_down_img, .logo_img, .be4chat_logo_img");
  divs[0].addEventListener('click', function(div) {
    slideToggle();
    
    var transform = document.getElementById("arrow_img").style.transform == '' ? "rotate(180deg)" : '';
    
    if(transform != ''){
      document.getElementById("arrow_img").style.transform = transform;
      document.querySelector(".chat_head").style.width = '50%'; 
      document.querySelector(".be4chat_logo_img").style.visibility = 'hidden';
      document.querySelector(".arrow_down_img").style.right = '95px';
      document.querySelector(".chat_box").style.right = '-60px';
      
      
      
    }else{
      document.getElementById("arrow_img").style.transform = transform;
      document.querySelector(".chat_head").style.width = '95%';
      document.querySelector(".be4chat_logo_img").style.visibility = 'visible ';
      document.querySelector(".arrow_down_img").style.right = '20px';
      document.querySelector(".chat_box").style.right = '20px';
    }
    
  });

  // ***********************************************************************************************
  // ***********************************************************************************************
  // ***********************************************************************************************
  function isValidEmailAddress(emailAddress) {
    var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
    var bool = pattern.test(emailAddress);
    return bool
  };
  function validate (name, email, phone){
    var valid = true;
    if(name.length != 0){
        //$j3('.span-name').hide();

        rmClass("name", "input-be4chat-error");
        addClass("name", "input-be4chat");
    } else {
        rmClass("name", "input-be4chat");
        addClass("name", "input-be4chat-error");
        valid = false;
    }

    if(email.length == 0 || !isValidEmailAddress(email)){
        rmClass("email", "input-be4chat");
        addClass("email", "input-be4chat-error");
        valid = false;
    } else {
        rmClass("email", "input-be4chat-error");
        addClass("email", "input-be4chat");
    }

    if(phone.length == 11){
      rmClass("phone", "input-be4chat-error");
      addClass("phone", "input-be4chat");
    } else {
      rmClass("phone", "input-be4chat");
      addClass("phone", "input-be4chat-error");
        valid = false;
    }
    return valid
  }

  var classname = document.getElementsByClassName("validate");
  for (var i = 0; i < classname.length; i++) {
    classname[i].addEventListener('click', function(){
      var name = document.getElementById('name').value;
      var email = document.getElementById('email').value;
      var phone = document.getElementById('phone').value.replace('(','').replace(')','').replace(' ','').replace('-','');
      validate(name, email, phone);
    }, false);
  }

  document.querySelector('#myprotocol').addEventListener('click',function(){

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        var protocols = 'Seus Protocolos <br/><br/>';
        var json = JSON.parse(this.responseText);
        for (var i = 0; i < json.length; i++) {
          protocols += '<strong>'+json[i].protocol+'</strong><br/>';
          protocols += json[i].category+'<br/>';
          protocols += formatDate(json[i].created_at)+'<br/>';
          protocols += '______________<br/>';
        }
        var msgPush = document.getElementsByClassName("msg_push")[0];
        msgPush.parentNode.insertBefore(createElementMsg(protocols, "msg_a"), msgPush);
      }
    };
    xhttp.open("GET", 'http://localhost:8000/client/findByCpf/01640521607', true);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send(JSON.stringify(data));

  });
  function formatDate(dateString) {
    var date = new Date(dateString)
    var monthNames = [
      "Janeiro", "Fevereiro", "Marco",
      "Abril", "Maio", "Junho", "Julho",
      "Agosto", "Setembro", "Outubro",
      "Novembro", "Dezembro"
    ];

    var day = date.getDate();
    var monthIndex = date.getMonth();
    var year = date.getFullYear();

    return day + ' ' + monthNames[monthIndex] + ' ' + year;
  }

inicializedSendMsg();
function inicializedSendMsg(data) {
  document.querySelector(".span-atendente").style.visibility = 'visible';
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      
      var json = JSON.parse(this.responseText);
      var msgPush = document.getElementsByClassName("msg_push")[0];
      console.log(json);
      if(json.output.text.length !== 0){
        setTimeout(function(resp){
          msgPush.parentNode.insertBefore(createElementMsg(json.output.text, "msg_a"), msgPush);
          document.querySelector(".span-atendente").style.visibility = 'hidden'
          scrollTopChatBody();
        }, 3000);
      }
    }
  };
  xhttp.open("POST", URL, true);
  xhttp.setRequestHeader("Content-type", "application/json");
  xhttp.send(JSON.stringify({ "text": "bom dia"}));
}

function insertInput(msg){

  if(msg.length >= 100){
    clientSadNess(URL);
  }else{
    sendMsg(URL, {text: msg})

    if(msg!=''){
      var msgPush = document.getElementsByClassName("msg_push")[0];
        msgPush.parentNode.insertBefore(createElementMsg(msg, "msg_b"), msgPush);
    }
    scrollTopChatBody();
  
  }
  

}

document.querySelector('.textarea-be4chat').addEventListener('keypress',
  function(e){
    if (e.keyCode == 13) {
        e.preventDefault();
        insertInput(this.value);
        this.value = '';
    }
});

document.querySelector('.be4chat_logo_img').addEventListener('click',
function(){
    var msg = document.querySelector('.textarea-be4chat').value;
    insertInput(msg);
    document.querySelector('.textarea-be4chat').value = '';
});


 //});

function clientSadNess(URL){
  document.querySelector(".span-atendente").style.visibility = 'visible';
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        console.log(this.responseText)
        sendMsg(URL, {'text': this.responseText});
    }
  };
  xhttp.open("POST", "https://chat-l.mybluemix.net/nlu", true);
  xhttp.setRequestHeader("Content-type", "application/json");
  xhttp.send(JSON.stringify(nlu));
}

function sendMsg(URL, data) {
  document.querySelector(".span-atendente").style.visibility = 'visible';
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      
      var json = JSON.parse(this.responseText);
      console.log(json);
      var msgPush = document.getElementsByClassName("msg_push")[0];
      if(json.output.text.length !== 0){
        
        setTimeout(function(resp){
          msgPush.parentNode.insertBefore(createElementMsg(json.output.text, "msg_a"), msgPush);

          if(json.output.text[0].indexOf("protocolo ") >= 0){
            msgPush.parentNode.insertBefore(createElementMsg("Aguarde mais um instante.", "msg_a"), msgPush);
            sendMsg(URL, { "text": 'boleto_atrasado'});
            document.querySelector(".btn-be4chat-img").disabled = false;
          }else{
            document.querySelector(".span-atendente").style.visibility = 'hidden'
          }

          scrollTopChatBody();
        }, 3000);

      }
    }
  };
  xhttp.open("POST", URL, true);
  xhttp.setRequestHeader("Content-type", "application/json");
  xhttp.send(JSON.stringify(data));
}

  var open = true;
  var heightChecked = false;
  var initHeight = 0;
  var intval = null;

  function slideToggle() {
      window.clearInterval(intval);
      var mdiv = document.getElementById('chat_box');
      if(!heightChecked) {
          initHeight = mdiv.offsetHeight;
          heightChecked = true;
      }
      if(open) {
          var h = initHeight;
          open = false;
          
          intval = setInterval(function () {
              h = h - 5;
              mdiv.style.height = h + 'px';
              if(h <= 35)
                  window.clearInterval(intval);
          }, 1);
      }
      else {
          var h = 0;
          open = true;
          intval = setInterval(function(){
              h = h + 5;
              mdiv.style.height = h + 'px';
              if(h >= initHeight)
                  window.clearInterval(intval);
              }, 1
          );
      }
  }

function createElementMsg(msg, nameClass){
  var element = document.createElement('div');
  element.innerHTML = '<div class="'+nameClass+'">'+msg+'</div>'
  return element;
}

function scrollTopChatBody(){
  console.log("entrei")
  var scroll = document.getElementsByClassName("msg_body")[0];
  scroll.scrollTop = scroll.scrollHeight;
}

function addClass (elementId, className) {
  document.getElementById(elementId).classList.add(className);
}

function rmClass (elementId, className) {
  document.getElementById(elementId).classList.remove(className);     
}


/********* Phone Mask **************
 ** 
 * charCode [48,57]   Numbers 0 to 9
 * keyCode 46       "delete"
 * keyCode 9        "tab"
 * keyCode 13       "enter"
 * keyCode 116      "F5"
 * keyCode 8        "backscape"
 * keyCode 37,38,39,40  Arrows
 * keyCode 10     (LF)
 */
function validate_int(myEvento) {
  if ((myEvento.charCode >= 48 && myEvento.charCode <= 57) || myEvento.keyCode == 9 || myEvento.keyCode == 10 || myEvento.keyCode == 13 || myEvento.keyCode == 8 || myEvento.keyCode == 116 || myEvento.keyCode == 46 || (myEvento.keyCode <= 40 && myEvento.keyCode >= 37)) {
    dato = true;
  } else {
    dato = false;
  }
  return dato;
}

function phone_number_mask() {
  var myMask = "(__) _____-____";
  var myCaja = document.getElementById("phone");
  var myText = "";
  var myNumbers = [];
  var myOutPut = ""
  var theLastPos = 1;
  myText = myCaja.value;
  //get numbers
  for (var i = 0; i < myText.length; i++) {
    if (!isNaN(myText.charAt(i)) && myText.charAt(i) != " ") {
      myNumbers.push(myText.charAt(i));
    }
  }
  //write over mask
  for (var j = 0; j < myMask.length; j++) {
    if (myMask.charAt(j) == "_") { //replace "_" by a number 
      if (myNumbers.length == 0)
        myOutPut = myOutPut + myMask.charAt(j);
      else {
        myOutPut = myOutPut + myNumbers.shift();
        theLastPos = j + 1; //set caret position
      }
    } else {
      myOutPut = myOutPut + myMask.charAt(j);
    }
  }
  document.getElementById("phone").value = myOutPut;
  document.getElementById("phone").setSelectionRange(theLastPos, theLastPos);
}


var nlu = {"text":"In the rugged Colorado Desert of California, there lies buried a treasure ship sailed there hundreds of years ago by either Viking or Spanish explorers. Some say this is legend; others insist it is fact. A few have even claimed to have seen the ship, its wooden remains poking through the sand like the skeleton of a prehistoric beast. Among those who say they’ve come close to the ship is small-town librarian Myrtle Botts. In 1933, she was hiking with her husband in the Anza-Borrego Desert, not far from the border with Mexico. It was early March, so the desert would have been in bloom, its washed-out yellows and grays beaten back by the riotous invasion of wildflowers. Those wildflowers were what brought the Bottses to the desert, and they ended up near a tiny settlement called Agua Caliente. Surrounding place names reflected the strangeness and severity of the land: Moonlight Canyon, Hellhole Canyon, Indian Gorge. Try Newsweek for only $1.25 per week To enter the desert is to succumb to the unknowable. One morning, a prospector appeared in the couple’s camp with news far more astonishing than a new species of desert flora: He’d found a ship lodged in the rocky face of Canebrake Canyon. The vessel was made of wood, and there was a serpentine figure carved into its prow. There were also impressions on its flanks where shields had been attached—all the hallmarks of a Viking craft. Recounting the episode later, Botts said she and her husband saw the ship but couldn’t reach it, so they vowed to return the following day, better prepared for a rugged hike. That wasn’t to be, because, several hours later, there was a 6.4 magnitude earthquake in the waters off Huntington Beach, in Southern California. Botts claimed it dislodged rocks that buried her Viking ship, which she never saw again.There are reasons to doubt her story, yet it is only one of many about sightings of the desert ship. By the time Myrtle and her husband had set out to explore, amid the blooming poppies and evening primrose, the story of the lost desert ship was already about 60 years old. By the time I heard it, while working on a story about desert conservation, it had been nearly a century and a half since explorer Albert S. Evans had published the first account. Traveling to San Bernardino, Evans came into a valley that was “the grim and silent ghost of a dead sea,” presumably Lake Cahuilla. “The moon threw a track of shimmering light,” he wrote, directly upon “the wreck of a gallant ship, which may have gone down there centuries ago.” The route Evans took came nowhere near Canebrake Canyon, and the ship Evans claimed to see was Spanish, not Norse. Others have also seen this vessel, but much farther south, in Baja California, Mexico. Like all great legends, the desert ship is immune to its contradictions: It is fake news for the romantic soul, offering passage into some ancient American dreamtime when blood and gold were the main currencies of civic life.The legend does seem, prima facie, bonkers: a craft loaded with untold riches, sailed by early-European explorers into a vast lake that once stretched over much of inland Southern California, then run aground, abandoned by its crew and covered over by centuries of sand and rock and creosote bush as that lake dried out…and now it lies a few feet below the surface, in sight of the chicken-wire fence at the back of the Desert Dunes motel, $58 a night and HBO in most rooms.Totally insane, right? Let us slink back to our cubicles and never speak of the desert ship again. Let us only believe that which is shared with us on Facebook. Let us banish forever all traces of wonder from our lives. Yet there are believers who insist that, using recent advances in archaeology, the ship can be found. They point, for example, to a wooden sloop from the 1770s unearthed during excavations at the World Trade Center site in lower Manhattan, or the more than 40 ships, dating back perhaps 800 years, discovered in the Black Sea earlier this year."}